@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff1f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f2f1f1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .btn {
    @apply w-fit py-1 px-3 rounded-md bg-teal-500 text-white hover:bg-teal-600 transition-all ease-linear duration-150;
  }

  input, textarea{
    @apply bg-slate-200 outline-none rounded-md p-2
  }
}
